Repository xamarin/Essentials, pull requests merged in 2022-04, with the labels that each got.

#1968 remove read/write storage permissions from filepicker/mediapicker on Android
  DeviceTests/DeviceTests.Android/Properties/AndroidManifest.xml
  Samples/Samples.Android/Properties/AndroidManifest.xml
  Xamarin.Essentials/FilePicker/FilePicker.android.cs
  Xamarin.Essentials/MediaPicker/MediaPicker.android.cs
Labels: awaiting-review, blocker, android

#1815 set result after cleanup of locationmanager #1489
  Xamarin.Essentials/Permissions/Permissions.ios.tvos.watchos.cs
Labels: ready-to-merge

#1986 Surface exception for not supported phone number on iOS PhoneDialer
  Xamarin.Essentials/PhoneDialer/PhoneDialer.ios.cs
Labels: bug, ios

#1976 Fix #1972 - allow restricted permissions for geolocation on android
  Xamarin.Essentials/Geolocation/Geolocation.android.cs
  Xamarin.Essentials/Permissions/Permissions.shared.cs
Labels: bug, android
